
Books/Karl Stolley - How to Design and Write Web Pages Today-ABC-CLIO (2011).pdf
Books/Ellen Lupton, Jennifer Cole Phillips - Graphic Design_ The New Basics_ Second Edition, Revised and Expanded-Princeton Architectural Press (2015).pdf
